.button{
	-fx-background-color: transparent;
}

.anchorpane{
	-fx-background-color: #7C9F36;
}


.label {
	-fx-text-fill: #CCF971;
}

.button:hover .label{
	-fx-text-fill: beige;
	-fx-font-weight: bold;
}


.circleBorder {
	-fx-fill: transparent;
	-fx-stroke: #485F1B;
	-fx-stroke-width: 5px;
}

.button:hover .circleBorder{
	-fx-stroke: #CCF971;
}

.button:pressed .circleBorder{
	-fx-stroke: white;
}

.separator:vertical .line{
	-fx-border-color: transparent #B2DF59 transparent #5A6A23;
	-fx-border-radius: 2;
	-fx-padding: -1 -1 -1 -1;
}

.search-bar {
	-fx-background-radius: 20;
}

#bar {
	-fx-background-color: #7C9F36;
}

#matLabel {
	-fx-font-family: Futura;
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
}